<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" style="width:100%;max-width:100%;object-fit: cover; border-radius: 50%;" alt="profile photo" class="hoverZoomLink"/>
          <br><br>
        {% endif %}
        <h2 style="text-align:center"><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h2>
        
        <!-- <p>{{ site.description | default: site.github.project_tagline }}</p> -->
        <p style="text-align:center">
          <a href="mailto:todd.j.tang@gmail.com">todd.j.tang@gmail.com</a><br>
          <a href="https://github.com/reso1">reso1</a> &nbsp;/&nbsp;
          <a href="https://scholar.google.com/citations?user=58xSbH8AAAAJ&hl=en">Google Scholar</a><br>
          <a href="https://reso1.github.io/blog">reso1.github.io/blog</a>
        </p>
        <hr>

        <h2>Education</h2>
        <ul style="list-style-type: disc; padding-left: 15px;">
          <li>
            <medium><strong>Ph.D. Candidate</strong>, Computing Science, SFU (Jan. '23 – Present)</medium><br>
            <small>Dissertation: Mixed Discrete—Continuous Planning on Graphs of Convex Sets (Tentative; May 2027)</small>
          </li>
          <li>
            <medium><strong>M.Eng.</strong>, Software Engineering, ECNU (Sep. '18 – Jun. '21)</medium><br>
            <small>Dissertation: Multi-Robot Coverage Path and Motion Planning Algorithms for Complex Terrain</small>
          </li>
          <li><medium><strong>B.Eng.</strong>, Software Engineering, ECNU (Sep. '14 – Jun. '18)</medium></li>
        </ul>
        <hr>
        
        <h2>Research Interests</h2>
        <ul style="list-style-type: disc; padding-left: 15px;">
          <li>Artificial Intelligence</li>
          <li>Heuristic Search</li>
          <li>Multi-Robot Systems</li>
          <li>Combinatorial Optimization</li>
        </ul>
        <hr>

        <h2>Academic Service</h2>
        <ul style="list-style-type: disc; padding-left: 15px;">
          <li><strong>Organizer:</strong> <a href="https://nwrsymposium.github.io/">NWRS (2025)</a></li>
          <li><strong>Conference reviewer:</strong> ICRA, IROS, AAAI, ECAI, ICAPS</li>
          <li><strong>Journal reviewer:</strong> T-RO, T-Mech, RA-L, JFR, RAS, EAAI</li>
          <li><strong>Volunteer:</strong> ROS Summer School China (2018–2020), <a href="https://aaai.org/conference/aaai/aaai-24/">AAAI (2024)</a>, <a href="https://www.ai-crv.ca/">AI/CRV (2026)</a></li>
        </ul>
        <hr>

        <h2>Talks</h2>
        <p><strong>AI/CRV Nectar Track (May. 2026):</strong> Space-Time Graphs of Convex Sets for Multi-Robot Motion Planning &amp; GHOST: Solving the Traveling Salesman Problem on Graphs of Convex Sets</p>
        <p><strong>SFU-Robotics Seminar (Dec. 2025):</strong> A Tutorial on GCS for Mixed Discrete—Continuous Planning in Robotics</p>
        <p><strong>NWRS (Jun. 2025):</strong> Large-Scale Multi-Robot Coverage Path Planning on Grids with Path Deconfliction</p>
        <hr>

        {% if site.github.is_user_page %}
        <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %}

        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        {% endif %}
        <p><small>This website is hosted on <a href="{{ site.github.repository_url }}">GitHub Pages</a> (Jekyll Minimal theme by <a href="https://github.com/orderedlist">orderedlist</a></small>)</p>
        
      </header>
      <section>

      {{ content }}

      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
